@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

:root {
  /* Colors */
  --Dark_Raspberry: hsl(332, 51%, 32%);
  --Nutmeg: hsl(14, 45%, 36%);
  --White: hsl(0, 0%, 100%);
  --Rose_White: hsl(330, 100%, 98%);
  --Eggshell: hsl(30, 54%, 90%);
  --Light_Grey: hsl(30, 18%, 87%);
  --Wenge_Brown: hsl(30, 10%, 34%);
  --Dark_Charcoal: hsl(24, 5%, 18%);

  /* Fonts */
  --body-font: "Outfit", sans-serif;
  --title-font: "Young Serif", serif;
  --title-font-weight: 400;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--body-font);
  color: var(--Dark_Charcoal);
  font-size: 14px;
  background: var(--Eggshell);
}

.young-serif-regular {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--White);
  border-radius: 10px;
  width: 500px;
  margin-top: 75px;
  margin-bottom: 75px;
}

.container__body {
  padding: 0px 20px 20px 20px;
}

.image-cover {
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin: 20px;
}

.title {
  font-family: var(--title-font);
  font-weight: var(--title-font-weight);
  margin: 0px;
}

.preparation {
  padding: 20px;
  background-color: var(--Rose_White);
  border-radius: 10px;
}

.preparation h4 {
  color: var(--Dark_Raspberry);
  margin: 0;
}

.preparation ul {
  padding-left: 15px;
  margin-bottom: 0;
}

.preparation li {
  padding-left: 15px;
  padding-bottom: 7px;
}
 
.preparation  li::marker {
  font-size: 10px;
  color: var(--Nutmeg);
}

.ingrediants {
  margin-top: 10px;
}

.ingrediants h3{
  margin-bottom: 0;
}

.ingrediants ul{
  padding-left: 20px;
}

.ingrediants li{
  padding-left: 10px;
  padding-bottom: 7px;
}

.ingrediants li::marker{
  color: var(--Dark_Raspberry);
  font-size: 10px;
}

.instructions ol{
  padding-left: 20px;
}

.instructions li{
  padding-left: 20px;
  padding-bottom: 10px;
}

.instructions li::marker {
  color: var(--Dark_Raspberry);
  font-weight: bold;
  font-size: 13px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

td {
  border-bottom: 1px solid #ddd;
  padding: 10px 10px 10px 20px;
}

td > strong {
  padding-left: 150px;
  color: var(--Nutmeg);
}

hr {
  height: 1px;
  background-color: var(--Light_Grey);
  border: none;
}

table {
  width: 100%;
}

.title-m{
  color: var(--Nutmeg);
  font-family: var(--title-font);
  font-weight: var(--title-font-weight);
}

.attribution {
  margin-bottom: 20px;
}
.attribution a {
  width: 100%;
  color: hsl(228, 45%, 44%);
}

/* Style Responsive for mobile */
@media (max-width: 500px) {
  .container {
    border-radius: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .image-cover {
    height: 200px;
    object-fit: cover;
    border-radius: 0px;
    margin: 0px;
  }
  .container__body {
    padding: 40px;
  }

  .attribution {
    display: none;
  }
}